@charset "ISO-8859-1";


input+input {
  float: right;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-spacing: 0px;
};

input.submit {
	align-items: center;
}

form.formClass {
	width: 5%;
}

.forminput {
	position: fixed;
}